*{
    margin:0;
}

a{
    text-decoration: none;

}

hr
{
    border-top: 0.05px solid rgb(185, 185, 185)
}

#photik
{
width:100%;
height:60px;
margin-top:-120px;
background-color: #035964;
position:fixed;

}
#logo_div
{
    width: fit-content;
    margin-left: 10px;
}
#logo
{
    
    margin-left:2%;
    color:#ffffff;
   
   
   
   
}
#search
{
    margin-left: 15%;
    margin-top: -1.5%;
}

#search_bar
{
width:400px;
height: 30px;
font-size: larger;
border:none;
border-radius: 2px;
outline: none;
}
#search_b
{
    margin-left: 31.2%;
    margin-top: -2.7%;
  
   
}
#search_button
{
    width:40px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  

}
.search_button_show
{
display: show;
}
#search_icon
{
    width:24px;
    height: 25px;
}

  /* For Loged In user*/ 
   

   #homeSection
   {
     
       width: fit-content;
       height: fit-content;
       margin-left: 76%;
       margin-top:12px;
       margin-top: -2%;
   }
   #user                                        
   {
       margin-left:90%;
       margin-top:-3.5%;
       width: fit-content;
       text-align:left;  
   }
  
   #notLogedLink
   {
       color:white;
   }

   #homeSection
{
  
    width: fit-content;
    height: fit-content;
   
    margin-top:12px;
    margin-top: -2.1%;
    margin-left: 85%;
}
  
   #home
   {
       color: rgb(255, 255, 255);
       font-size:15px;
       margin-left: -2px;
       font-family: Arial Black;
   }
   
   
   #myaccount
   {
       margin-left: 5%;
       margin-top:-10%;
   }
     
   #dropdown-content                          
   {
       position: absolute;
   }
   #user_name_text
   {
       margin-top:-5px;
      
       cursor: pointer;
   }
   #profileImageIndex
{
    width:35px;
    height: 35px;
    margin-left: 0%;
    border-radius: 50%;
    cursor: pointer;
}
   
   ul {
       background: #ffffff;
       list-style: none;
       
       margin: 0;
       padding-left: 0px;
       border-radius: 3px;
       box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
   }
   
   li {
       color: #ffffff;
        font-family:   Arial Black;
       display: block;
       float: left;
       padding: 1rem;
       position: relative;
       text-decoration: none;
       transition-duration: 0.5s;
       text-align: left;
   }
   
   li a {
       color: #035964;
   }
   
   li a:hover {
      
      
      color:rgb(9, 215, 230);
       
   }
    
   
   ul li ul {
     
       visibility: hidden;
       opacity: 0;
       min-width: 5rem;
       position: absolute;
       transition: all 0.5s ease;
       margin-top: 1rem;
       left: 0;
       display: none;
   }
   
   ul li:hover ul,
   ul li ul:hover {
       visibility: visible;
       opacity: 1;
       display: block;
   }
   
   ul li ul li {
       clear: both;
       width: 100%;
   }
  
   /* body */


   #MainContent
   {
       width:40%;
       height:400px;
       text-align: center;
       box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
       margin-left: 30%;
       margin-top: 120px;
       border-radius: 10px;
   }
   #hederText
   {
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #035964;
    border-radius: 10px 10px 0px 0px;
   }

   #changepasswordText
   {
color: white;
font-size: 30px;
font-family: Arial black;   
}
#errprmsg
{
    width:100%;
    height: 50px;
  
}
#errorMsg
{
    color: red;
    font-family: Arial black;  
}
#successMsg
{
    color: green;
    font-family: Arial black;    
}

#passwordUpdate
{
    margin-top: 5px;
}
#CurrentPasswordText,#updatePasswordText
{
    font-size: 18px;
    font-family: Arial black;  
    color: #035964;
    margin-top: 20px;
}
#CurrentPasswordText
{
    margin-left: -25%;
}
#updatePasswordText
{
    margin-left: -30%;
}
#currentPassword,#updatePassword
{
    width: 60%;
   
    height: 35px;
    color:#0b3438;
    font-size: 15px;
   
   
    border-width: 0 0 2px;
    border-color: #07535c;
    outline: none;
}

#currentPassword:focus,#updatePassword:focus {
  
    border-color: rgb(5, 231, 175);
   
  }

  #updatebutton
  {
      margin-top: 50px;
  }

  #updatepasswordbtn{

    width:20%;
    height: 40px;
    background-color:#07535c ;
    color:white;
    font-size: large;
    font-family: Arial Black;
    border:none;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
  }

  #password_strength
  {
      margin-top: -25px;
      margin-left: 50%;
  }
  #password_strengthT
  {
    font-family: Arial Black;
    font-size: 12px;
  }



  
#footer
{

    width:75%;
    margin-left: 12.5%;
    height: auto;
    font-family: Arial black;
    text-align: center;
    margin-top: 100px;
  
}
#footer a
{
    padding: 11px 20px;
    color:#6e7f81 ;
}
#footer a:hover
{
    color:#035964 ;
}
#copy,#demo,#web
{
    color:#6e7f81;
}
